body{
       background-color: beige;
}

h1{
    color: black;
    text-align: center;

}

p{
    font-family: verdana;
    font-size: 20px;
    color: black;
}

#lvalor1{
    color: crimson;
}

.classLabel{
    color:darkorange;
}